@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none;
    box-sizing: border-box;
    
}

.max-w-1140 {
    max-width: 1140px !important;
}

.underline {
    position: relative;
}

.cp {
    cursor: pointer;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: var(--orange);
    transition: all 300ms linear;
    margin-top: 5px;

}

.underline:hover::after {
    width: 100%;
}


.home_1 {
    transition: all 300ms linear;
    opacity: 80%;
}

.home_1:hover {
    opacity: 100%;
}


.gap-nav {
    gap: 60px;
}

.btn-nav {
    border: 1px solid transparent;
    outline: none;
    max-width: 174px;
    padding: 17px 38px 17px 38px;
    background: var(--orange);
    border-radius: 41px;
    transition: all 300ms linear;
}

.btn-nav:hover {
    background: transparent;
    /* border: 1px solid var(--orange); */
    color: var(--orange);
    box-shadow: 0px 0px 15px 0px var(--orange);
}

.gap_ul {
    gap: 24px;
}


.line_1 {
    width: 294px;
    height: 0.3px;
    background: var(--black);
    opacity: 20%;
}

.gap-30 {
    gap: 30px;
}

.py-header-1 {
    padding-top: 30px;
    padding-bottom: 35px;
}

.max-766 {
    max-width: 766px;
}

.max-565 {
    max-width: 565px;
}

.pt-14 {
    padding-top: 14px;
}

.btn-get {
    border: 1px solid transparent;
    outline: none;
    max-width: 174px;
    padding: 17px 38px 17px 38px;
    background: var(--orange);
    border-radius: 41px;
    transition: all 300ms linear;
}

.btn-get:hover {
    background: transparent;
    border: 1px solid var(--orange);
    color: var(--orange);

}

.btn-demo {
    border: 1px solid var(--orange);
    outline: none;
    max-width: 174px;
    padding: 17px 38px 17px 38px;
    background: transparent;
    border-radius: 41px;
    transition: all 300ms linear;
}

.btn-demo:hover {
    background: var(--orange);
    border: 1px solid transparent;
    color: var(--white);

}

.gap-17 {
    gap: 17px;
}

.pt-40 {
    padding-top: 40px;
}

.header-line::after {
    content: "";
    background-image: url(../images/svg/header-line.svg);
    width: 171px;
    height: 8px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-size: 100% 100%;
}



.header-ball {
    top: 90px;
    left: 116px;
    z-index: 1;
}

.header1 {
    left: 0px;
    bottom: 0px;
    z-index: 1;
    transform: rotate(-45deg);
}

.header2 {
    left: 50%;
    bottom: 112px;
    z-index: 1;
}

.header3 {
    right: 0px;
    bottom: 101px;
    z-index: 1;
    transform: rotate(-45deg);
}

.header-elipse {
    top: 90px;
    left: 0px;
    z-index: 1;
}

/*section-2  */
.max-w-1166 {
    max-width: 1166px !important;
}

.max-596 {
    max-width: 596px;
}

.slider-1-box {
    min-width: 156px;
    height: 141px;
    border: 1px solid var(--border-1);
    box-shadow: 0px 4px 30px 0px var(--shadow-1);
    border-radius: 8px;

}

.max-w-80 {
    max-width: 80px;
}

.gap-19 {
    gap: 19px;
}

.max-43 {
    max-width: 43px;
}

/* .slider_2 .slick-track {
    display: flex !important;
}

.slider_2 .slick-slide {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    height: inherit !important;
}

.slider_2 .slick-slide .div {
    display: flex !important;
} */
.responsive_1 .slick-slide {
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 18px;
}

.responsive_1 .slick-current .slider-1-box {
    border: 1px solid var(--border-2);
}

.responsive_1 .slick-current .slider-1-box h2 {
    color: var(--orange);
}

.slick-dots li button:before {
    height: 5px !important;
    width: 16px !important;
    background-color: var(--black) !important;
    position: absolute;
    left: 50%;
    border-radius: 6px !important;
    color: transparent !important;
    opacity: 10% !important;
}

.slick-dots li.slick-active button:before {
    width: 23px !important;
    opacity: 1 !important;
    height: 5px !important;
    background-color: var(--orange) !important;
}

.slick-dots {
    display: flex !important;
    gap: 6px !important;
    justify-content: center !important;

}

.slick-dots li button {
    padding: 0px !important;
}

.pt-25 {
    padding-top: 25px;
}



.img-shadow {
    box-shadow: 0px 3px 35px 0px var(--sec2);
    border-radius: 18px;
}



.mt-slider {
    margin-top: 40px !important;
}

.max-350 {
    max-width: 350px;
}

.py-row-2 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.sec2-elipse {
    top: -100px;
    left: 0px;
    
}

/* sec-3//////////// */
.bg-sec3 {
    background: var(--bg);
}

.max-w-1167 {
    max-width: 1167px !important;
}

.py-row-3 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.max-496 {
    max-width: 496px;
}

.max-487 {
    max-width: 487px;
}

.sec-3-para {
    max-width: 525px;
    padding-top: 11px;
}

.mt-40 {
    margin-top: 40px !important;
}


.sec-3-elipse1 {
    top: 41px;
    left: 67px;
}

.sec-3-elipse2 {
    bottom: -11px;
    left: 364px;
    transform: rotate(-50deg);
}

.sec-3-elipse3 {
    top: 4px;
    right: 7px;
    transform: rotate(20deg);
}

/* sec-4////////// */
.py-sec-4 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.max-548 {
    max-width: 548px;
}

.sec-4-para {
    max-width: 556px;
    padding-top: 16px;
}

.btn-book {
    max-width: 161px;
    padding: 17px 38px 17px 38px;
    background: var(--orange);
    border-radius: 41px;
    border: none;
    outline: none;
    transition: all 300ms linear;
}

.btn-book:hover {
    background: var(--white);
    color: var(--orange);
    box-shadow: 0px 0px 15px 0px var(--orange);
}

.sec-4-ellipse-1 {
    bottom: -70px;
    left: 0px;
}

.sec-4-ellipse-2 {
    top: -50px;
    right: 0px;
}

/* sec-5///////////// */
.max-w-1158 {
    max-width: 1158px !important;
}

.py-sec-5 {
    padding-top: 40px;
    padding-bottom: 50px;
}

.max-509 {
    max-width: 509px;
}

.max-558 {
    max-width: 558px;
}

.sec-5-para {
    padding-top: 16px;
    max-width: 556px;
}

.gap-16 {
    gap: 16px;
}

.gap_9 {
    gap: 9px;
}

.btn-sec5 {
    max-width: 168px;
    padding: 17px 38px 17px 38px;
    background: var(--orange);
    border-radius: 41px;
    border: none;
    outline: none;
    transition: all 300ms linear;
}

.btn-sec5:hover {
    background: var(--white);
    color: var(--orange);
    box-shadow: 0px 0px 15px 0px var(--orange);
}

.pt-33 {
    padding-top: 33px;
}

.mt-44 {
    margin-top: 44px !important;
}

.sec-5-elipse {
    left: -180px;
    top: 5px;
}

/* sec-6 */
.max-465 {
    max-width: 465px;
}

.py-sec6 {
    padding-top: 100px;
    padding-bottom: 105px;
}

/* footer */
.max-161 {
    max-width: 161px;
}

.max-373 {
    max-width: 373px;
}

.gap-32 {
    gap: 32px;
}

.logo-hover {
    transition: all 300ms linear;
}

.logo-hover:hover {
    transform: scale(1.2);
}

.gap-20 {
    gap: 20px;
}

.under_line {
    position: relative;
}

.under_line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: var(--orange);
    transition: all 300ms linear;
    margin-top: 5px;
}

.under_line:hover::after {
    width: 100%;
}

.gap_6 {
    gap: 6px;
}

.footer-py {
    padding-top: 70px;
    padding-bottom: 30px;
}

.footer-line {
    height: 1px;
    background: var(--white);
    opacity: 20%;
    width: 100%;
}

.py-last {
    padding-top: 14px;
    padding-bottom: 14px;
}

.mt-col {
    margin-top: 30px !important;
}

/* slider/////////// */
.pt-slider-1 {
    padding-top: 40px;
}

.gap-12 {
    gap: 12px;
}

.slider_box {
    max-width: 357px;
    background: var(--white2);
    border-radius: 10px;
    padding: 15px 18px 14px 18px;
    box-shadow: 0px 18px 59px 0px var(--slider-shadow);
}

.gap_10 {
    gap: 10px;
}

.gap_4 {
    gap: 4px;
}

.pl-20 {
    padding-left: 20px;
}

.arrow-down {
    left: 31px;
    bottom: 63px;
}

.arrow-down-2 {
    left: 33px;
    bottom: 58px;
}

.arrow-down-3 {
    left: 20px;
    bottom: 57px;
}

.arrow-down-4 {
    left: 43px;
    bottom: 55px;
}

.arrow-down-5 {
    left: 30px;
    bottom: 66px;
}

.gap-35 {
    gap: 35px;
}

.max-w-98 {
    max-width: 98px;
    min-height: 18px;
}

.pl-26 {
    padding-left: 26px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-31 {
    padding-left: 31px;
}

.pl-21 {
    padding-left: 21px;
}



.slider-row-py {
    padding-top: 30px;
    padding-bottom: 85px;
}

.mt-col-4 {
    margin-top: 40px !important;
}



.mt_43 {
    margin-top: 43px !important;
}



.pl-col-6 {
    padding-left: 30px !important;
}

.mt_col-5 {
    margin-top: 80px !important;
}

.elipse-slider {
    top: 47px;
    right: 248px;
    z-index: 0;
}

.orange-circle {

    width: 41px;
    height: 41px;
    background: transparent;
    border: 1.42px solid var(--orange);
    border-radius: 20px;
    transition: all 300ms linear;
}

.orange-circle:hover {
    background: var(--orange);
}

.orange-circle:hover svg path {
    fill: var(--white2);
}

.prev-btn {
    left: 110px;
    bottom: 30px;
}

.next-btn {
    right: 110px;
    bottom: 30px;
}
.pt-text{
    padding-top: 100px;
}
/* accoradian */
.accordion-body {
    padding: -8px 37px 24px 0px !important;
}

.pb-24{
    padding-top: 0px !important;
    padding-bottom: 24px !important;
}
.accordion-button {
    background: transparent !important;
    padding: 24px 25px 24px 0px !important;
}

.accordion-item {
    background: transparent !important;
}

.accordion-button:not(.collapsed) {
    background: transparent !important;
}

.accord {
    max-width: 749px;

}

.accordion-button::after {
    background-image: url(../images/svg/accordian-up.svg) !important;
    transform: rotate(180deg);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/svg/accordian-down.svg) !important;
}

.accordion-button:not(.collapsed) {
    color: var(--white);
    box-shadow: none !important;
}

.accordion {
    --bs-accordion-btn-focus-box-shadow: none !important;
    /* --bs-accordion-border-width: none; */
    --bs-accordion-border-color: var(--acordain) !important;
    
}

.accord-text {
    color: var(--black) !important;
}

.py-accordian {
    padding-top: 53px;
    padding-bottom: 160px;
}
.max-acord-para{
    max-width: 768px !important;
}
.accord{
    max-width: 856px;
}

@media (min-width:375px) {
    .prev-btn {
        left: 132px;
        bottom: 30px;
    }
    
    .next-btn {
        right: 132px;
        bottom: 30px;
    }
}

@media (max-width:768px) {

    .py-slider-2 {
        padding-bottom: 16px;
    }
}

@media (min-width:768px) {
    .pt-text{
        padding-top: 120px;
    }
    .prev-btn {
        left: 0px;
        bottom: 287px;
    }
    
    .next-btn {
        right: 0px;
        bottom: 287px;
    }

    .slider-row-py {
        padding-top: 40px;
        padding-bottom: 46px;
    }

    .pt-slider-1 {
        padding-top: 60px;
    }

    .mt-col {
        margin-top: 63px !important;
    }

    .py-last {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-py {
        padding-top: 97px;
        padding-bottom: 50px;
    }

    .py-sec6 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .py-sec-5 {
        padding-top: 80px;
        padding-bottom: 78px;
    }

    .py-sec-4 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .py-row-3 {
        padding-top: 85px;
        padding-bottom: 85px;
    }

    .header-line-2::after {
        content: "";
        background-image: url(../images/svg/header-line-2.svg);
        width: 186px;
        height: 11px;
        position: absolute;
        bottom: -8px;
        left: 0;
        background-size: 100% 100%;
    }

    .header1 {
        left: 56px;
        bottom: 279px;
        z-index: 1;
        transform: rotate(0deg);
    }

    .header2 {
        left: 375px;
        bottom: 20px;
        z-index: 1;
    }

    .header3 {
        right: 15px;
        bottom: 256px;
        z-index: 1;
        transform: rotate(-15deg);
    }

    .header-elipse {
        top: 100px;
        left: 30px;
        z-index: 1;
    }

    .header-line::after {
        width: 208px;
        height: 11px;
    }

    .page_1 {
        top: 120px;
        left: -15px;
        z-index: 1;
    }

    .page_2 {
        top: 134px;
        right: -15px;
        z-index: 1;
    }

    .page_3 {
        bottom: -20px;
        left: -25px;
        z-index: 1;
    }

    .page_4 {
        bottom: -25px;
        right: -25px;
        z-index: 1;
    }

    .header-ball {
        top: 154px;
        left: 204px;
        z-index: 1;
    }

    .py-row-2 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .mt-slider {
        margin-top: 60px !important;
    }

    .sec-elipse1 {
        width: 30px;
        height: 44px;
    }

    .sec-elipse3 {
        width: 63px;
        height: 39px;
    }

    .py-header-1 {
        padding-top: 102px;
        padding-bottom: 155px;
    }

    .max-ball {
        width: 42px;
        height: 42px;
    }

}

@media (max-width:992px) {

    .w-h-page1 {
        max-width: 148px;
        height: 158px;
    }

    .w-h-page2 {
        max-width: 136px;
        height: 147px;
    }

    .w-h-page3 {
        max-width: 264px;
        height: 272px;
    }

    .w-h-page4 {
        max-width: 246px;
        height: 252px;
    }
}


@media (min-width:992px) {
    .pt-text{
        padding-top: 160px;
    }
  
    .slider_3 .slick-slider {
        margin:0 -55px;
    }
    .slider_3 .slick-slide {
        margin-right:55px;
        margin-left:55px;
    }
    .elipse-slider {
        top: 47px;
        left: 502px;
        z-index: 0;
    }

    .pl-col-6 {
        padding-left: 70px !important;
    }

    .mt_col-5 {
        margin-top: 38px !important;
    }

    .mt-col-4 {
        margin-top: 22px !important;
    }

    .mt_26 {
        margin-top: 26px !important;
    }

    .slider-row-py {
        padding-top: 45px;
        padding-bottom: 80px;
    }

    .pt-slider-1 {
        padding-top: 80px;
    }

    .footer-py {
        padding-top: 208px;
        padding-bottom: 69px;
    }

    .py-sec6 {
        padding-top: 135px;
        padding-bottom: 163px;
    }

    .header-line-3::after {
        content: "";
        background-image: url(../images/svg/header-line3.svg);
        width: 376px;
        height: 7px;
        position: absolute;
        bottom: -8px;
        left: 0;
        background-size: 100% 100%;
    }

    .py-sec-5 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .py-sec-4 {
        padding-top: 167px;
        padding-bottom: 153px;
    }

    .sec-3-elipse1 {
        top: 59px;
        left: 64px;
    }

    .sec-3-elipse2 {
        bottom: 102px;
        left: 599px;
        transform: rotate(0deg);

    }

    .sec-3-elipse3 {
        top: 92px;
        right: 120px;
        transform: rotate(0deg);
    }

    .max-sec-3-1 {
        width: 64px;
        height: 61px;
    }

    .max-sec-3-2 {
        width: 76px;
        height: 52px;
    }

    .max-sec-3-3 {
        width: 61px;
        height: 89px;
    }

    .py-row-3 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .header-line-2::after {
        content: "";
        background-image: url(../images/svg/header-line-2.svg);
        width: 345px;
        height: 11px;
        position: absolute;
        bottom: -8px;
        left: 0;
        background-size: 100% 100%;
    }

    .pl-12 {
        padding-left: 24px !important;
    }

    .sec2-elipse {
        top: -150px;
        left: 0px;
        
    }

    .header-line::after {
        width: 274px;
        height: 11px;
    }

    .header-ball {
        top: 181px;
        left: 490px;
        z-index: 1;
    }

    .max-499 {
        max-width: 499px;
    }

    .mt-slider {
        margin-top: 0px !important;
    }

    .py-row-2 {
        padding-top: 165px;
        padding-bottom: 160px;
    }

    .max-sec-3-1 {
        width: 76px;
        height: 52px;
    }

    .max-sec-3-2 {
        width: 62px;
        height: 81px;
    }

    .max-sec-3-3 {
        width: 61px;
        height: 92px;
    }

    .page_1 {
        top: 141px;
        left: 52px;
        z-index: 1;
    }

    .page_2 {
        top: 115px;
        right: 44px;
        z-index: 1;
    }

    .page_3 {
        bottom: 30px;
        left: 109px;
        z-index: 1;
    }

    .page_4 {
        bottom: 41px;
        right: 103px;
        z-index: 1;
    }



    .header1 {
        left: 0px;
        bottom: 182px;
        z-index: 1;
    }

    .header2 {
        left: 726px;
        bottom: 112px;
        z-index: 1;
    }

    .header3 {
        right: 57px;
        bottom: 314px;
        z-index: 1;
        transform: rotate(0deg);
    }

    .header-elipse {
        top: 90px;
        left: 130px;
        z-index: 1;
    }

    .py-header-1 {
        padding-top: 166px;
        padding-bottom: 267px;
    }

    .max-ball {
        width: 64px;
        height: 64px;
    }

    .gap-nav {
        gap: 100px;
    }

    .gap_ul {
        gap: 41px;
    }

    .home_1:hover {
        color: var(--orange);

    }

    .home_1 {
        opacity: 100%;
    }
}

@media (min-width:1200px) {
    .gap-nav {
        gap: 194px;
    }
    
}
@media (min-width:1400px) {
    .prev-btn {
        left: -68px;
        bottom: 321px;
    }
    
    .next-btn {
        right: -68px;
        bottom: 321px;
    }
}

@media (max-width:991px) {
    .mobile_view {
        position: fixed;
        background: var(--white2);
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 500ms ease-in-out;
        z-index: 50;
    }

    .menu {
        z-index: 100;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        height: 4px;
        width: 35px;
        background-color: var(--black);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(2) {
        height: 4px;
        width: 35px;
        background-color: var(--black);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(3) {
        height: 4px;
        width: 35px;
        background-color: var(--black);
        display: block;
        border-radius: 30px;
    }

    .menu span {
        transition: 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
        background: var(--orange);
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
        background: var(--orange);
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-17px);
        transition: 300ms linear;
        background: var(--orange);
    }


}